@use '../../../styles/settings.scss' as *;

.wrapper {
  width: 100%;
  height: 10px;
  border-radius: 100px;
  overflow: hidden;
  background: $color-skeleton;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.bar {
  height: 100%;
  width: 40%;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.25);
  animation: slide 1s infinite ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(320%);
  }
}
