.wrapper {
  width: 100%;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(0, 0, 0);
}

.bar {
  height: 100%;
  width: 40%;
  border-radius: 50%;
  background: rgba(0, 0, 0);
  animation: slide 1s infinite ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(350%);
  }
}
