@use '../../../styles/settings.scss' as *;

.controls {
  display: grid;
  grid-template-columns: 1.4fr 0.7fr;
  gap: 10px;
  margin: 10px 0 16px;
}

.input,
.select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid $color-editor-border;
  background: white;
}

@media (max-width: 900px) {
  .controls {
    grid-template-columns: 1fr 1fr;
  }
}
