@use '../../../styles/settings.scss' as *;

.alert {
  padding: 12px 14px;
  margin: 12px 0;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.35;
  border: 1px solid transparent;
}

.info {
  background: $color-primary;
  color: $color-text-bright;
}

.warning {
  background: $color-error;
  color: $color-text-bright;
}
