@use '../../../styles/settings.scss' as *;

.concert {
  position: relative;
  overflow: hidden;
  background: $color-text-light;
  color: $color-text-bright;
}

.row {
  display: flex;
}

.col {
  width: 50%;
  min-width: 0;
}

.imageContainer {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  z-index: 2;
  position: relative;
}

.info {
  margin: 2rem;
  position: relative;
  min-height: 400px;
}

.back {
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5) blur(2px);
}

.performer,
.genre,
.dayPrice {
  position: relative;
  z-index: 2;
}

.dayPrice {
  margin: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
}

.concert:nth-of-type(2n) .row {
  color: $color-text-bright;
}

.concert:nth-of-type(2n) .col:first-child {
  order: 2;
}

.concert:nth-of-type(2n) .col:last-child {
  order: 1;
}

.concert:hover .image {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

  .performer {
    font-size: 1.8rem;
    margin: 0.5rem;
  }

  .genre {
    font-size: 1.5rem;
    opacity: 0.7;
  }
}
