@use '../../../styles/settings.scss' as *;

.form {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 16px;
  align-items: start;
}

.card {
  @include card($color-background);
}

.input,
.select {
  @include inputBase;
}

.button {
  @include buttonBase;
  margin-top: 14px;
  width: 100%;
  max-width: 28rem;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.sideCard {
  @include card($color-surface);
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .side {
    position: static;
  }
}
