$color-text: #141414;
$color-text-bright: #fff;
$color-background: #fff;

$color-border: rgba(0, 0, 0, 0.18);
$color-skeleton: rgba(0, 0, 0, 0.08);
$color-surface: rgba(0, 0, 0, 0.02);
$color-surface-2: rgba(0, 0, 0, 0.03);

$color-success: #01916d;
$color-info: #2b7cb3;
$color-warning: #f0932b;
$color-error: #ea2027;
$color-error-back: #ff5d6c;

$font-header: 'Source Sans Pro', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$base-size: 14px;
$radius-sm: 10px;
$radius-md: 14px;
$radius-lg: 18px;

$transition-fast: 160ms ease;
$transition: 220ms ease;
