@use './settings.scss' as *;
@use './normalize.scss';
@use './typography.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text-light;
  background: $color-background;
  font-family: $font-text;
  font-size: calc(#{$base-size} * 1.3);
  line-height: 1.7;
  letter-spacing: 0.5px;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:visited {
  text-decoration: none;
}
