@use './settings' as *;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
  font-family: $font-header;
}

h1 {
  font-weight: 700;
  margin: 2rem 0 1rem;
  font-size: 2.6rem;
  line-height: 1.1;
}

h2 {
  font-weight: 700;
  margin: 1.6rem 0 0.8rem;
  font-size: 2rem;
  line-height: 1.15;
}

h3 {
  font-weight: 600;
  margin: 1.2rem 0 0.6rem;
  font-size: 1.4rem;
}
